body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #006ad5;
    padding-right: 20px;
}

.logo {
    width: 300px;
    height: 80px;
    background-image: url('https://ifh.cc/g/gz9Has.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.menu {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto; /* Start at the right */
    margin-right: 20px;
}
.menu a {
    text-decoration: none;
    color: white;
    padding: 10px 30px; /* 조절 가능한 패딩 값 */
    cursor: pointer;
    margin-left: 20px; /* 오른쪽 마진 추가 */
}

.menu a:last-child {
    margin-right: 0;
}

a:hover {
    text-decoration: underline;
}

.title {
    color: white;
    padding-right: 20px;
    cursor: pointer; /* 손 모양 커서 추가 */
    text-decoration: none; /* 밑줄 제거 */
}

.title:hover {
    text-decoration: underline; /* 마우스 오버 시 밑줄 효과 */
}

.List {
    width: 100%;
    height: 100px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    border: 2px solid black;
    position: relative;
}
/* 운성님 헤더*/

/* 현우 css*/

.btn {
    width: 100px;
    height: 75px;
    margin-left: 10px;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: gray;
    color: white;
}

.input_layout {
    display: flex;
    justify-content: space-evenly;
}

.between {
    display: flex;
    align-items: center;
    gap: 0px;
    height: 90px;
}

.between input {
    height: 20px;
}

.input_ver1 {
    background-color: lightgray;
}

.ex {
    width: 800px;
    margin: 120px 0px 0px 25%;
}
.hr {
    margin-top: 80px;
}


/* 연희 */


.ournote{
    border-color: none;
    background-color: #FFD653;
    border-radius: 20px;
    margin: 20px 200px 10px 200px;
    position: relative;
    display: flex;
    align-items:flex-end;
    width: 45rem;
  

}
/* 연희 끝 */