* {
  box-sizing: border-box;
}
body {
  height: 100vh;
}

/* mainPage cardSection */
.mainCards {
  width: 75vw;
  height: 55vh;
  overflow-y: scroll;
}
.mainCard {
  display: flex;
  flex-direction: row;
  border: 2px solid rgba(0, 106, 213, 0.7);
  border-radius: 5px;

  width: 100%;
  height: 25vh;
  padding: 20px;
  margin-bottom: 20px;
}
.mainCardImgBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 30px 0 10px;
}
.profileImageWrap {
  width: 150px;
  height: 150px;
  border-radius: 70%;
  overflow: hidden;
}
.mainCardImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mainProfileName {
  margin: 20px 0 0 0;
  font-size: 20px;
  font-weight: 700;
  color: rgba(0, 106, 213, 0.7);
}

.mainTextBtn {
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin-left: 50px;
}
.mainTextarea {
  resize: none;
  border: 1px solid rgba(0, 106, 213, 0.7);
  border-radius: 5px;
  font-size: 25px;
  padding: 20px;
}
.mainProfileBtn {
  width: 55%;
  height: 150px;
  margin-top: 20px;
  margin-left: auto;
  background-color: rgba(0, 106, 213, 0.7);
  border: none;
  border-radius: 5px;
  transition: transform 400ms ease;
  color: #f9f9f9;
  font-size: 20px;
}
.mainProfileBtn:hover {
  transform: scale(1.03);
}
